@charset "UTF-8";
body{
	background-color:#00a381;
	font-size:14px;
}
h1{
	color:red;
	font-size:36px;
}
h2{
	color:red;
	font-size:30px;
}
h3{
	color:red;
	font-size:24px;
}
p{
	font-size:18px;
}

th,td{
	padding:10px;
	text-align:left;
}
tr:nth-chlld(even){
	background-color:#fef4f4;
}
th{
	background-color:#c89932;
	
	color:black;
}

