html {
  height: 100%;
}
body {
  height: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
.price-tag {
  background-color: #dc143c;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.price-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #dc143c;
}