@charset "UTF-8";

.a{
	padding-left:200px;
}
#box {
  width: 570px;
  height: 300px;
  padding: 20px;
  border: 1px solid gray;
  background-color: rgb(210, 232, 247);
  box-sizing: border-box;
}
#box li {
  margin-top: 2px;
  margin-left: 50px;
}
.hezi {
  width: 400px;
  height: 400px;
  padding: 20px;
  border: 1px solid gray;
  background-color: rgb(210, 232, 247);
  box-sizing: border-box;
}
ol {
  list-style: none;
}
span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 5px 8px 0 0;
  padding-top: 5px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  box-sizing: border-box;
}
